.note-create__btn, .entry-ud__btns{
    color: #412318;
    font-weight: bold;
    font-size: 1.2em;
}

.note-create__btn:hover, .entry-ud__btns:hover{
    color: rgb(194, 123, 61);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
}

.notes-header, .encounters-header{
    text-align: center;
}

.notes__row{
    justify-content: space-around;
}

.encounters__row{
    justify-content: center;
}

.body-styles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.notes__wrapper, .encounters__wrapper{
    display: flex;
    justify-content: space-between;
}

.add-encounter__btn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.add-encounter{
    color: #412318;
    font-weight: bold;
    font-size: 1.2em;
}
.add-encounter:hover{
    color: rgb(194, 123, 61);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
}