body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em; 
}

.heading{
    display: flex;
    justify-content: space-between;
    margin: 1% 2% 0;
}

.heading-title{
    margin-bottom: 0;
}

.entry-create__btn, .journal-ud__btns{
    color: #412318;
    font-weight: bold;
    font-size: 1.2em;
}

.entry-create__btn:hover, .journal-ud__btns:hover{
    color: rgb(194, 123, 61);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
}

.entry__names{
    color: #412318;
    font-weight: bold;
}

.entry__names:hover{
    color: rgb(199, 145, 9);
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    text-decoration: none;
}

.sessions{
    margin: auto;
}

.no_data{
    text-align: center;
    font-style: italic;
}