.profile__heading{
    margin: 1%;
}

.page__header{
    margin: 2% 0;
}

.createjournal-btn{
    float: right;
    padding: 1%;
}

.createjournal-link{
    color: #412318;
    font-weight: bold;
}
.createjournal-link:hover{
    color: rgb(194, 123, 61);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-decoration: none;
}

.journal__list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card{
    background-image: url('./assets/journalbg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1%;
    border: 1px solid rgb(50, 25, 17);
    box-shadow: -2px 2px 5px black;
}

.card-title{
    text-align: center;
    margin: 6% 0 6%;
}

.link-wrapper{
    text-align: center;
}

.card-link{
    color: rgb(157, 88, 27);
    font-weight: bold;
}

.card-link:hover{
    color: #412318;
    text-shadow: -1px -1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, 1px 1px 0 goldenrod;
}

img{
    width: 40%;
}

.no_data{
    text-align: center;
    font-style: italic;
}