<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% block content %}
<div class="heading">
    <div class="head-left">
        <h1 class="heading-title">{{journal.title}} Campaign Journal</h1>
        <a class="journal-ud__btns" href="{% url 'journals_update' journal.id %}">Change Name</a>
        <span>|</span>
        <a class="journal-ud__btns" href="{% url 'journals_delete' journal.id %}">DELETE Journal</a>
    </div>
    <div class="head-right"><a class="entry-create__btn" href="/entry/create">Create A Session</a></div>
</div>


<hr />
<div class="container-fluid">
    <div class="row logs">
        <h2 class="col offset-1"><u>Logs</u></h2>
    </div>
    <div class="sessions col-10">
{%if entries%}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Sessions</th>
                <th scope="col">Dates</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td><a class="entry__names" href="{% url 'entries_show' entry.id %}">{{ entry.name }}</a></td>
                    <td>{{ entry.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
<div class="no_data">You have no entries yet.</div>
</div>

{% endif %}

</div>
</section>
    
{% endblock %}