<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% block content %}
<div class="heading">
    <h1 class="heading-title">{{journal.title}} Campaign Journal</h1>
    <div class="journal-ud__wrapper">
    <div><a class="journal-ud__btns" href="{% url 'journals_update' journal.id %}">Change Name</a></div>
    <div><a class="journal-ud__btns" href="{% url 'journals_delete' journal.id %}">DELETE Journal</a></div>
</div>
</div>

<hr />
<div>
<h2>Logs</h2>
{%if entries%}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Session</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in entries %}
                <tr>
                    <td><a class="entry__names" href="{% url 'entries_show' entry.id %}">{{ entry.name }}</a></td>
                    <td>{{ entry.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% else %}
<p>You have no entries yet.</p>

{% endif %}
<p><a href="/entry/create">Create an entry</a></p>

</div>
</section>
    
{% endblock %}