{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row profile__heading">
    <div class="col btn_container">
    <div class="createjournal-btn">
        <a class="createjournal-link" href="/journals/create" >Create New Journal</a>
    </div>
</div>
</div>

<h2 class="page__header">Journals</h2>
{%if journals%}

<div class="container">
    <div class="row journal__list">
        {% for journal in journals %}
        <div class="card col-sm-11 col-md-9 col-lg-4" >
            <div class="card-body">
            <div class="card-image col-8">
                <img src="{% static "assets/d20.png" %}" alt="1d20 die with transparent background" />
            </div>
                <h5 class="card-title">{{ journal.title }}</h5>
                <div class="link-wrapper">
                <a href="{% url 'journals_show' journal.id %}" class="card-link">Go to Journal</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% else %}
    <p>You have no journals yet.</p>
    {% endif %}
    



{% endblock %}