<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col">
        <h1>{{entry.name}}</h1>
    </div>
    <div class="col">
        <p><a href="{% url 'entry_update' entry.id %}">Edit Entry Info</a></p>
        <p><a href="{% url 'entry_delete' entry.id %}">Delete Entry</a></p>
    </div>
</div>
<hr />
<div>
    <h2>Session Notes</h2>
</div>

{%if notes%}
    {% for note in notes %}
        <div>{{ note.content }}</div>
    {% endfor %}
    
{% else %}
<p>You have no notes yet.</p>

{% endif %}
<p><a href="/note/create">Add a note</a></p>

{% endblock %}