<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="heading">
    <div class="head-left">
        <h1 class="heading-title">{{entry.name}}</h1>
        <a class="entry-ud__btns" href="{% url 'entry_update' entry.id %}">Edit Entry Info</a>
        <span>|</span>
        <a class="entry-ud__btns" href="{% url 'entry_delete' entry.id %}">Delete Entry</a>
    </div>
    <div class="head-right">
        <a class="note-create__btn" href="/entry/{{ entry.id }}/note/create/">Add a note</a>
    </div>
</div>
<hr />
<div class="container-fluid">
<div class="row">
    <h2 class="col notes-header">Session Notes</h2>
</div>

{%if notes%}
    {% for note in notes %}
        <div>{{ note.content }}</div>
        <div>
        
    <div>
        <a href="{% url 'note_update' note.id %}">Edit Note</a>
        <span>|</span>
        <a href="{% url 'note_delete' note.id %}">Delete Note</a>
    </div>
    </div>





        </div>
    {% endfor %}
    
{% else %}
<div class="no_data">You have no notes yet.</div>
</div>
{% endif %}


{% endblock %}