<!-- main_app/templates/index.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="heading">
    <div class="head-left">
        <h1 class="heading-title">{{entry.name}}</h1>
        <a class="entry-ud__btns" href="{% url 'entry_update' entry.id %}">Edit Entry Info</a>
        <span>|</span>
        <a class="entry-ud__btns" href="{% url 'entry_delete' entry.id %}">Delete Entry</a>
    </div>
    <div class="head-right">
        <a class="note-create__btn" href="/entry/{{ entry.id }}/note/create/">Add a note</a>
    </div>
</div>
<hr />

<div class="container-fluid">
    <div class="row">
        <h2 class="col notes-header">Session Notes</h2>
    </div>

    {%if notes%}
        {% for note in notes %}
            <div class="row notes__row">
                <div class="notes__wrapper col-10">
                <ul>
                    <li>
                        {{ note.content }}
                    </li>
                </ul>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            options
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" type="button" href="{% url 'note_update' note.id %}">Edit Note</a></li>
                            <li><a class="dropdown-item" type="button" href="{% url 'note_delete' note.id %}">Delete Note</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}
        
    {% else %}
        <div class="no_data">You have no notes yet.</div>
</div>
    {% endif %}


<hr />

<div class="add-encounter__btn">
<a class="add-encounter" href="/entry/{{ entry.id }}/encounter/create/">Add Encounter</a>
</div>
<div class="row">
        <h2 class="col encounters-header">Session Encounters</h2>
    </div>

    {%if encounters%}
        {% for encounter in encounters %}
            <div class="row encounters__row">
                <div class="encounters__wrapper col-10">
                <ul>
                    <li>
                        {{ encounter.name }}
                    </li>
                    <li>
                        {{ encounter.info }}
                    </li>
                </ul>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                            options
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a class="dropdown-item" type="button" href="{% url 'encounter_update' encounter.id %}">Edit encounter</a></li>
                            <li><a class="dropdown-item" type="button" href="{% url 'encounter_delete' encounter.id %}">Delete Note</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        {% endfor %}
        
    {% else %}
        <div class="no_data">You have no encounters.</div>
</div>
    {% endif %}


{% endblock %}

{% comment %} have notes and encounters seperated into bootsteap tabs?? {% endcomment %}